<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
    <div>
      <time id="post:{{post.title}}" datetime="{{ post.date }}" class="catalogue-time"></time>
      <h1 class="catalogue-title">{{ post.title }}</h1>
      <div class="catalogue-line"></div>

      <p>
        {{ post.content | strip_html | truncatewords: 30 }}
      </p>

    </div>
    <script>
      var date = '{{post.date}}'
      moment.loadPersian(true);
      var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('jD jMMMM jYYYY');
      document.getElementById('post:{{post.title}}').innerText = jalaliDate;
  </script>
  </a>
